.tiles {
  height: 100%;
  width: 100%;
  gap: 15px;
  padding: 20px 100px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}
.tile-hover {
  transition: 0.5s;
}

.tile-hover:hover {
  transform: translateY(-10px);
  box-shadow: 3px 4px 5px grey;
}

.bottom-tiles {
  display: flex;
  gap: 40px;
  width: 100%;
}

.left-tile,
.right-tile {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  /* margin-bottom: 30px; */
}

.left-top,
.right-bottom {
  display: flex;
  gap: 30px;
}

.add-workspace-tile {
  min-height: 251px;
  padding: 35px 55px;
  background: linear-gradient(92.17deg, #0062fd, #0063ff);
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  animation: slidedown 0.8s ease-in-out;
}

.add-workspace-tile .tile-text {
  width: 100%;
}

.add-workspace-tile p {
  font-size: 25px;
  font-weight: 700;
  line-height: 45px;
}

.button-container {
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.add-workspace-btn {
  display: flex;
  align-items: center;
  gap: 3px;
  background: #ffca10;
  border-radius: 5px;
  padding: 10px;
  font-weight: 500;
  font-size: 12px;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.workspace-link {
  display: flex;
}

.add-workspace-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: 0.5s;
}

.add-workspace-btn:hover::before {
  left: 100%;
}

/* Todo list tile */

.todo-list-tile {
  height: 220px;
  width: 50%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.background-image {
  height: 100%;
  width: 100%;
  background: black;
}

.background-image img {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  object-fit: cover;
}

.tile-content {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  gap: 15px;
}

.tile-content h2 {
  font-size: 20px;
  font-weight: 600;
}

.animation-tiles {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  font-weight: 400;
}

.tile-1,
.tile-2 {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
}

.single-option {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* performance  tile*/

.insights-link {
  width: 50%;
}

.performance-tile {
  height: 220px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  animation: slidedown-2 0.8s ease-in-out;
}

.performance-tile h4 {
  margin: -8px 0;
  font-size: 40px;
  font-weight: 400;
}

/* jobs tile */

.jobs-tile {
  height: 190px;
  width: 100%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  animation: slideleft 0.6s ease-in-out;
}

.tile-1,
.tile-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.jobs-tile .single-option {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jobs-tile .single-option p {
  font-size: 12px;
  font-weight: 200;
  font-family: open sans-serif;
}
.jobs-tile .single-option h3 {
  font-size: 15px;
  font-weight: 400;
}

.jobs-tile .tile-content {
  width: 85%;
}

.job h3 {
  font-size: 16px;
  font-weight: 500;
}

.job p {
  font-size: 12px;
  font-weight: 600;
}

.line {
  width: 100%;
  height: 1px;
  background: white;
}

.see-all {
  position: absolute;
  bottom: 20px;
  left: 40px;
  color: #0062fd;
}

a {
  font-size: 16px;
  font-weight: 600;
  color: #0062fd;
  text-decoration: none;
}

/* career guidance tile */

.career-tile {
  height: 190px;
  width: 100%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  animation: slideright 0.6s ease-in-out;
}

/* task manager tile */

.taskmanager-link {
  width: 50%;
}

.task-manager-tile {
  height: 220px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  animation: slideup-2 0.6s ease-in-out;
}

.task-manager-tile .animation-tiles p {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 180px;
  white-space: nowrap;
}

.wallet-tile {
  height: 220px;
  width: 50%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  animation: slideup 0.8s ease-in-out;
}

.wallet-tile h1 {
  font-size: 40px;
  font-weight: 400;
}

.tile-content .title {
  font-size: 20px;
  font-weight: 600;
}

/* animations */
.tile-2 {
  transform: translateY(200%);
}

.tile-1 {
  animation: tile-1 10s linear infinite alternate;
}

.tile-2 {
  animation: tile-2 10s linear infinite alternate;
}

.todo-list-tile {
  animation: slidedown 0.6s ease-in-out;
}

@keyframes tile-1 {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  49% {
    transform: translateY(0px);
    opacity: 1;
  }
  52% {
    opacity: 0;
  }
  55% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes tile-2 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  49% {
    transform: translateY(100%);
    opacity: 0;
  }
  52% {
    opacity: 0;
  }
  55% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slidedown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slidedown-2 {
  0% {
    transform: translateY(-125%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideright {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideleft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideup-2 {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
